* {
  font-family: "Playfair Display", serif;
  font-weight: 800;
  padding: 0;
}

.ancho-XL {
  width: 100%;
}

.ancho-L {
  width: 80%;
}

.ancho-M {
  width: 60%;
}

.ancho-S {
  width: 40%;
}

.ancho-XS {
  width: 20%;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style-type: none;
}

.todo {
  background-color: #C7A17A;
}

h2 {
  background-color: #873D48;
  margin: 0.8em 0em 0.8em 0em;
}

.inicio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-nav {
  padding: 0;
}
.container-nav .navegador {
  border-top: #000000 solid 0.1em;
  border-bottom: #000000 solid 0.1em;
  background-color: #C7B4A0;
  font-weight: 900;
}
.container-nav .navegador .navegador_vista {
  display: flex;
  justify-content: inherit;
}
.container-nav .navegador .navegador_div {
  text-align: center;
}
.container-nav .navegador .navegador_div .desplegable {
  background-color: #C7B4A0;
  font-weight: 900;
  text-align: center;
}

.presencia {
  background-color: rgba(252, 235, 203, 0.431372549);
  margin: 3%;
}
.presencia img {
  margin-top: 0.3em;
}

.orden {
  display: flex;
  justify-content: space-evenly;
}
.orden .producto {
  border: #000000 solid 0.1em;
  background-color: #C7AB8D;
  margin-bottom: 3%;
  justify-content: flex-end;
  box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(32, 32, 32, 0.3019607843);
}
.orden .producto img {
  margin-top: 0.4em;
  box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(32, 32, 32, 0.3019607843);
  border: #000000 solid 0.1em;
}
.orden .producto a {
  box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(32, 32, 32, 0.3019607843);
  border: #000000 solid 0.1em;
}
.orden .producto ::before {
  transition: all 0.4s ease-in;
  background-color: rgba(255, 255, 255, 0.4196078431);
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  cursor: pointer;
}
.orden .producto :hover::before {
  opacity: 0.6;
}
.orden .producto .precio {
  color: #000000;
}

.sucursal {
  margin: 2em 0em 2em 0em;
  padding: 1em;
}
.sucursal h5 {
  text-align: center;
  background-color: #873D48;
}
.sucursal iframe {
  height: 100%;
}
.sucursal_individual {
  background-color: #C7B4A0;
  border: #000000 solid 0.1em;
}
.sucursal_individual .descripcion {
  margin: 0.9em;
}
.sucursal_individual_img img {
  transition: transform 0.2s;
  border: #000000 solid 0.1em;
}
.sucursal_individual_img img:hover {
  transform: scale(0.9);
}

.container_formulario {
  display: flex;
  justify-content: center;
}
.container_formulario .formulario {
  border: #000000 solid 0.2em;
  padding: 1em;
  margin: 1em 0em 1em 0em;
}
.container_formulario .formulario .boton {
  margin-top: 0.4em;
  justify-content: flex-end;
}

footer {
  background-color: #506C64;
  position: absolute;
}
footer ul {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
footer ul .icon {
  width: 2em;
}
footer .copyright {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 575px) {
  .navegador {
    justify-content: center;
  }
}

/*# sourceMappingURL=main.css.map */
