*{  
    font-family: "Playfair Display", serif;
    font-weight: 800;
    padding: 0;
}
a{
    text-decoration:none;
    color: #000000;
}
.todo{
    background-color: #C7A17A;
}
/***************HEADER***********************/
.container-nav{
    padding: 0;
}
.navegador_vista{
    display: flex;
    justify-content: inherit;
}
.inicio--titulo{
    width:60%;
}
.inicio--logo{
    width: 20%;
}
.navegador{
    border-top: #000000 solid 0.1em;
    border-bottom: #000000 solid 0.1em;
}
.navegador,.desplegable{
    background-color: #C7B4A0;
    font-weight: 900; 
}
.navegador_div,.desplegable{
    text-align: center;
}
/********************************************/
/*****************MAIN**********************/
.presencia{
    background-color: #fcebcb6e;
    display: flex;
    margin: 3%;
}
.presencia img{
    margin-top: 0.3em;
}
.carrusel iframe{
    width: 100%;
}
.inicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro{
    margin-top: 0.5em;
    border: #000000 solid 0.1em;
    background-color: #d8aa6a57;
    align-content: space-evenly;
    padding: 2%;
}
.producto{
    border: #000000 solid 0.1em;
    background-color: #C7AB8D;
    margin-bottom: 3%;
    display: flex;
    justify-content: flex-end;
}
.precio{
    color: #313131;
}
.orden{
    display: flex;
    justify-content: space-evenly;
}
.producto::before{
    transition: all .4s ease-in;
    background-color: rgba(255, 255, 255, 0.418);
    position: absolute;
    content: "";
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    cursor: pointer;
}
.producto:hover::before{
    opacity: .6 ;
}
.producto img{
    margin-top: 0.4em;
}
.descripcion{
    margin: 0.9em;
}
.producto img,.producto,.producto a{
    box-shadow: 0.2em 0.2em 0.2em 0.2em rgba(32,32,32,0.3);
    border: #000000 solid 0.1em;
}
.producto img{
    margin-top: 0.3em;
}
.menu h2, main h2{
    background-color: #873D48;
    margin:0.8em 0em 0.8em 0em;
}
.sucursal iframe{
    width: 100%;
    height: 100%;
}
.sucursal{
    margin:2em 0em 2em 0em;
    padding: 1em;
}
.sucursal_individual{
    background-color:#fcebcb6e;
    border: #000000 solid 0.1em;
}
.sucursal_individual_img img{
    transition: transform .2s;
    border: #000000 solid 0.1em;
}
.sucursal_individual_img img:hover {
    transform: scale(0.9); 
}
.sucursal h5{
    text-align: center;
    background-color: #873D48;
}
.formulario{
    border: #000000 solid 0.2em;
    padding: 1em;
    width: 95%;
    margin: 1em 0em 1em 0em;
}
.container_formulario{
    justify-content: center;
}
.boton{
    margin-top: 0.4em;
    justify-content: flex-end;
}
/*******************************************/
/****************FOOTER*********************/
.icon{
    width: 2em;
}
footer{
    background-color: #506C64;
    position:absolute; 
}
footer ul{
    padding: 1em;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.copyright{
    display: flex;
    justify-content: center;
}
/******************************************/
@media screen and (max-width: 575px) {
    .navegador{
        justify-content: center;
    }
}
