a{
    text-decoration:none;
    color: $black;
}
ul{
    list-style-type: none;
}
body{
    background-image: linear-gradient(180deg, $beige 0%,$beige 95%, $bluish 100%);
}
h2{
    color: #ffffffff;
    background: linear-gradient(180deg, #873D48 49%, #3f1c21 87%);
    margin:0.8em 0em 0.8em 0em;
}