.sucursal{
    margin:2em 0em 2em 0em;
    padding: 1em;
    h2{
        text-align: center;
        border-top:$black solid 0.01em ;
        border-bottom:$black solid 0.01em;
    }
    iframe{
        height: 100%;
    }
    &_individual{
        background: linear-gradient(180deg, #fcebcb 49%, #b3b3b3 87%);
        @include bordes (0.1em);
        .descripcion{
            margin: 0.9em;
        }
        &_img{
            img{
                transition: transform .2s;
                @include bordes (0.1em);
            }
            img:hover {
                transform: scale(0.9); 
            }
        }
    }
    
}